/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* 100 % DA TELA VAI SER PREÊNCHIDA
    height: 100vh; */

    /* NADA VAI SAIR DA CLASSE PAI */
    box-sizing: border-box;
    /* color: white;
    background-color: black; */
}

.destacar-titulo {
    color: #68BCF3;
}

.inicio {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1 {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.acessar-link {
    /* background-color: #68BCF3; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #68BCF3;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    /* TIRANDO O SUBLINHADO */
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* ESTILIZAR QUANDO O MOUSE PASSAR POR CIMA */
.acessar-link:hover {
    background-color: #E7E8E7;
}

/* FOOTER */
.rodape {
    color: white;
    background-color: #68BCF3;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}